<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Todo List</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
<ul>
  <li><a href = '/tasks'>View all Tasks</a></li>
  <li><a href = '/tasks/new'>Create New Task</a></li>
</ul>

</header>
<section>

<%=yield%>
</section>
</body>
</html>