<!DOCTYPE html>
<html>
<head>
  <title>ToDo List</title>
</head>
<body>
<ul>
  <li><a href = '/tasks'>View all Tasks</a></li>
  <li><a href = '/tasks/new'>Create New Task</a></li>
    

</ul>


<%=yield%>
</body>
</html>